<h1 class="text-center">Here is the Show pagre of Articles</h1>

<h3>Article Title</h3>
<p><strong><%=@article.title%></strong></p>

<h3>Article Description</h3>
<p><strong><%=@article.description%></strong></p>

<%= link_to 'Edit', edit_article_path(@article)%>|
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %>|
<%= link_to 'Return to Articles page', articles_path%>

